<main id="user-info">
  <h2>
    <%= @user[:name].capitalize %>
  </h2>

  <p>
    Email: <%= @user[:email] %>
  </p>

  <p>
    Interests: <%= @user[:interests].map(&:capitalize).join(', ') %>
  </p>
</main>


<section id="links-other-users">
  <%= yield %>
</section>