html {
  text-align: center;
  background-color: rgb(255, 233, 204);
}

.other-user-links {
  display: inline;
  padding-inline: 10px;
}

footer {
  margin-top: 100px;
  color: #5555ee;
  font-size: 14px;
}